{
    "plugins": [
      ["styled-jsx/babel", { "optimizeForSpeed": true }],
      "@babel/plugin-transform-regenerator"
    ],
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "corejs": 3
        }
      ],
      "@babel/preset-react",
      "@babel/preset-typescript"
    ]
  }